@import "src/assets/scss/main";

.content {
  display: flex;

  .sidebar {
    flex: 0 0 18%; //will mot grow or shrink for the given basis
  }

  .view {
    flex: 1;
  }

  @media only screen and (max-width: $bp-md) {
    flex-direction: column;
  }
}
